{
    box-sizing: border-box;
}

::selection {
    background: #276EF1;
    color: white;
}
html {
    --top-spacing: 100px;
    scroll-padding-top: var(--top-spacing);
}

body {
    margin: var(--top-spacing) auto;

    max-width: 400px;
    padding: 0 20px;
    font: 18px/1.4 system-ui;
}
